fastapi==0.110.0
uvicorn==0.23.1
openai==1.93.0
python-dotenv==1.0.0
pydantic==2.10.3
pydantic-settings==2.4.0
langchain-core==0.3.76
langchain-qdrant==0.2.1
langchain-mistralai==0.2.11
mistralai==1.9.10
qdrant-client==1.15.1
sentence_transformers==5.1.0
